.row{"ng-app" => "receta"}
  .panel
    .row
      %h1{"ng-if" => "name"} Hello, 
    .row
      %form
        .small-8.columns
          %input{:autofocus => "", "ng-model" => "name", :placeholder => "Enter your name", :type => "text"}/