body{
	background-image: url('https://s3.amazonaws.com/pcz-assets/bg31.jpg')!important;
	background-repeat: repeat !important;
}
#mainmenu{
	margin-bottom: 2%;
	background: #36b0b6;
	background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
	background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
	font-family: 'Lato', sans-serif;
}
.message{
	width: 100%;
	text-align: center;
}
.postimage{
	margin-left: 5%;
}

#postscontainer{
	background-color: #F9F9F9;
}

.postcontent{
	width: 97% !important; 
}

.better-active{
	background-color: red;
}